.body {
    min-height: 100vh;
    flex-direction: column;
    align-items: stretch;
}

.flex {
    display: flex;
}

.home-header {
    justify-content: center;
    border-bottom: 1px solid #A0ACBD;
    height: 100px;
    background-color: #0288D1;
    font-size: 2.8rem;
}

.home-header a {
    text-decoration: none;
    color: #D8F3FF;
    padding-top: 1rem;
}

.home-page {
    flex-grow: 1;
}


.main-grid-menu ul {
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1.56rem;
}

.main-grid-menu ul li {
    margin-right: 0.62rem;
    margin-bottom: 1.4rem;
}

.menu-list li a {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: #002964;
}

.menu-list li img {
    max-height: 200px;
}