.mail-container {
    flex-grow: 1;
}

.mail-header .hamburger {
    display: none;
}

.toggle-menu {
    display: block;
}

.mail-app-container {
    padding-top: 10px;
}

.mail-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.fav {
    color: #D35E3D;
}

.bold {
    font-weight: bold
}

/* -----------MAIL BAR------------------------------------------------- */

.mail-loading-img {
    position: absolute;
    left: 43%;
}

.mail-bar {
    width: 150px;
    margin-left: 20px;
}

.mail-bar ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.mail-bar ul li {
    cursor: pointer;
    padding: 8px 0 8px 15px;
}

.mail-bar ul li:hover {
    background-color: #E19F20;
    border-radius: 0 20px 20px 0;
    color: #fff;
}

.mail-trash {
    cursor: pointer;
}

.mail-compose {
    cursor: pointer;
    border-radius: 30px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    text-align: center;
    font-size: 1.25em;
    border: 1px solid #666;
    box-shadow: 0 0 2px 0 rgba(102, 102, 102, 1);
    margin-bottom: 10px;
}

.ui-progress-linear--type-determinate {
    height: 25px;
}

.ui-progress-linear--color-primary .ui-progress-linear__progress-bar {
    height: 25px;
}

.active {
    background-color: #E19F20;
    border-radius: 0 20px 20px 0;
    color: #fff;
}

.mail-form {
    z-index: 10;
    background-color: #fff;
    position: fixed;
    bottom: 3px;
    right: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 2px 0 rgba(102, 102, 102, 1);
    width: 60vw;
}

.mail-form form {
    height: 100%;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    align-content: space-between;
}

.mail-form-title {
    flex-direction: row;
    justify-content: space-between;
    background-color: #666;
    color: #fff;
    padding: 10px;
}

.mail-btns {
    justify-content: space-between;
}

.mail-btns button:nth-last-child(1) {
    background-color: #fff;
    width: 40px;
    font-size: 25px;
    color: #666;
    border-color: #fff;
    padding-bottom: 0;
    cursor: pointer;
}

.close-form {
    cursor: pointer;
}

/* ----------------------------Mail Header-------------------------------------------------- */

.mail-header {
    justify-content: space-between;
    border-bottom: 1px solid #A0ACBD;
    height: 100px;
    background-color: #0288D1;
    font-size: 2.8rem;
    padding-top: 10px;
}

.mail-logo {
    margin-right: 20px;
    width: 104px;
}

.mail-logo img {
    height: 74px;
    width: 104px;
}

.mail-filter-section {
    max-width: 600px;
    flex-grow: 1;
    justify-content: center;
    margin-bottom: 35px;
    margin-top: 10px;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;

}

.mail-filter-section select {
    padding-bottom: 6px;
    margin-right: 20px;
    margin-top: 8px;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-appearance: none;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica, Arial, sans-serif;
    color: rgba(0, 0, 0, .60);
}

.mail-filter-section .ui-textbox {
    margin-bottom: 0;
    margin-left: 20px;
    width: 100%;
}

/* ----------------------------------------------Mail-Items--------------------------------------------
*/

.mail-item {
    justify-content: space-between;
    border-bottom: 1px solid rgba(201, 197, 197, 0.493);
    height: 40px;
    align-items: center;
    padding-right: 30px;
}

.dark-background {
    background-color: rgba(184, 175, 236, 0.199);
}

.mail-item:hover {
    background-color: #fefefe;
}

.mail-item div:nth-child(1) {
    width: 20px;
}

.mail-item div:nth-child(2) {
    width: 150px;
    margin-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mail-item div:nth-child(3) {
    margin-right: 10px;
    width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mail-item div:nth-child(4) {
    width: 200px;
    margin-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mail-list ul li {
    cursor: pointer;
    padding: 10px 0px 15px 15px;
}

.mail-list,
.mail-full {
    flex: 1;
    padding: 0 0 0 17px;
}

@media (max-width: 950px) {
    .mail-item {
        justify-content: flex-start;
        flex-direction: column;
        height: 100px;
    }

    .mail-item div:nth-child(1) {
        width: 100%;
    }

    .mail-item div:nth-child(2) {
        width: 100%;
        margin-right: 0px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .mail-item div:nth-child(3) {
        margin-right: 0px;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .mail-item div:nth-child(4) {
        width: 600px;
        margin-right: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

/* -----------------------------media-querys----------------------------------------- */

@media(max-width: 550px) {
    .mail-bar {
        display: none;
        position: absolute;
        background: #fefefe;
        margin: 0;
        top: 111px;
        height: 300px;
        width: 200px;
    }

    .mail-compose {
        position: fixed;
        bottom: 3%;
        right: 7%;
        border-radius: 147px;
        width: 44px;
    }

    .mail-compose span {
        display: none;
    }

    .mail-select-filter {
        width: 12%;
    }

    .mail-list {
        padding: 0;
    }

    .mail-list ul {
        margin: 0;
        padding: 0;
    }

    .mail-item {
        text-align: center;
        height: 120px;
        padding: 0;
    }

    .mail-item * {
        margin-right: 0;
    }

    .mail-item div:nth-child(2) {
        order: 2;
    }

    .mail-item div:nth-child(3) {
        order: 2;
    }

    .mail-item div:nth-child(4) {
        order: 3;
        width: 320px;
    }

    .mail-item div:nth-child(5) {
        order: 1;
    }

    .mail-item div:nth-child(6) {
        order: 6;
    }

    .mail-item div:nth-child(1) {
        order: 5;
        font-size: 20px;
    }

    .mail-header .logo {
        display: none;
    }

    .mail-header .hamburger {
        display: block;
        position: absolute;
        top: 3%;
        left: 3%;
    }

    .mail-select-filter {
        left: 45%;
        top: 12%;
    }

    .mail-form {
        width: 95%;
        height: 80%;
    }

    .mail-bar ul li {
        cursor: pointer;
        padding: 20px 20px 20px 10px;
    }

    .mail-bar ul {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .mail-loading-img {
        left: 24%;
    }

    .mail-filter-section {
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .mail-logo {
        width: 70px;
    }

    .mail-filter-section .ui-textbox {
        margin-right: 20px;
    }

    .mail-filter-section select {
        margin-right: 0;
    }

    .mail-trash {
        font-size: 25px;
    }
}