.mail-container {
    flex-grow: 1;
}

.mail-bar {
    width: 150px;
    margin-left: 20px;
}

.mail-bar ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.mail-bar ul li {
    cursor: pointer;
    padding: 8px 0 8px 15px;
}

.mail-bar ul li:hover {
    background-color: #E19F20;
    border-radius: 0 20px 20px 0;
    color: #fff;
}

.mail-trash {
    cursor: pointer;
}

.mail-compose {
    cursor: pointer;
    border-radius: 30px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.25em;
    border: 1px solid #666;
    box-shadow: 0 0 2px 0 rgba(102, 102, 102, 1);
}

.ui-progress-linear--type-determinate {
    height: 25px;
}

.ui-progress-linear--color-primary .ui-progress-linear__progress-bar {
    height: 25px;
}

.active {
    background-color: #E19F20;
    border-radius: 0 20px 20px 0;
    color: #fff;
}

.mail-form {
    background-color: #fff;
}

.mail-form form {
    padding-left: 10px;
    padding-right: 10px;
}

.mail-form-title {
    background-color: #666;
    color: #fff;
    padding: 10px;
}