.mail-container {
    flex-grow: 1;
}



.mail-header .hamburger {
    display: none;
}

.toggle-menu {
    display: block;
}

.mail-app-container {
    padding-top: 10px;
}

.mail-container ul {
    list-style: none;
}

.fav {
    color: #D35E3D;
}

.bold {
    font-weight: bold
}

/* -----------MAIL BAR------------------------------------------------- */

.mail-loading-img {
   position: absolute;
   left: 43%;
}

.mail-bar {
    width: 150px;
    margin-left: 20px;
}

.mail-bar ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.mail-bar ul li {
    cursor: pointer;
    padding: 8px 0 8px 15px;
}

.mail-bar ul li:hover {
    background-color: #E19F20;
    border-radius: 0 20px 20px 0;
    color: #fff;
}

.mail-trash {
    cursor: pointer;
}

.mail-compose {
    cursor: pointer;
    border-radius: 30px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.25em;
    border: 1px solid #666;
    box-shadow: 0 0 2px 0 rgba(102, 102, 102, 1);
}

.ui-progress-linear--type-determinate {
    height: 25px;
}

.ui-progress-linear--color-primary .ui-progress-linear__progress-bar {
    height: 25px;
}

.active {
    background-color: #E19F20;
    border-radius: 0 20px 20px 0;
    color: #fff;
}

.mail-form {
    z-index: 10;
    background-color: #fff;
    position: fixed;
    bottom: 3px;
    right: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 2px 0 rgba(102, 102, 102, 1);
    width: 60vw;
}

.mail-form form {
    height: 100%;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    align-content: space-between;
}

.mail-form-title {
    flex-direction: row;
    justify-content: space-between;
    background-color: #666;
    color: #fff;
    padding: 10px;
}

.mail-btns {
    justify-content: space-between;
}

.mail-btns button:nth-last-child(1) {
    background-color: #fff;
    width: 40px;
    font-size: 25px;
    color: #666;
    border-color: #fff;
    padding-bottom: 0;
    cursor: pointer;
}

.close-form {
    cursor: pointer;
}

/* ----------------------------Mail Header-------------------------------------------------- */

.mail-header {
    justify-content: center;
    border-bottom: 1px solid #A0ACBD;
    height: 100px;
    background-color: #0288D1;
    font-size: 2.8rem;
}

.mail-header h1 {
    text-decoration: none;
    color: #D8F3FF;
    padding-top: 1rem;
    margin: 0;
}

.mail-header img {
    position: absolute;
    height: 74px;
    top: 2%;
    left: 2%;
    width: 104px;
}

.mail-header .ui-textbox__label {
    width: 30%;
    background-color: white;
    border-radius: 3px;
    opacity: 0.8;
    padding: 0 10px 3px;
}

.mail-header .ui-textbox__content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.mail-header .ui-textbox__textarea {
    color: white;
}

.mail-filter-section {
    flex-direction: column;
}

.mail-select-filter {
    width: 6%;
    position: absolute;
    left: 56%;
    top: 9%;
}

/* ----------------------------------------------Mail-Items--------------------------------------------
*/

.mail-item {
    justify-content: space-between;
    border-bottom: 1px solid rgba(201, 197, 197, 0.493);
    height: 40px;
    align-items: center;
    padding-right: 30px;
}

.dark-background {
    background-color: rgba(184, 175, 236, 0.199);
}

.mail-item:hover {
    background-color: #fefefe;
}

.mail-item div:nth-child(1) {
    width: 20px;
}

.mail-item div:nth-child(2) {
    width: 150px;
    margin-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mail-item div:nth-child(3) {
    margin-right: 10px;
    width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mail-item div:nth-child(4) {
    width: 200px;
    margin-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mail-list ul li {
    cursor: pointer;
}

.mail-list, .mail-full {
    flex: 1;
    padding: 0 0 0 17px;
}

@media (max-width: 950px) {
    .mail-item {
        justify-content: space-between;
        align-items: center;
        padding-right: 30px;
        flex-direction: column;
        height: 100px;
    }
    .mail-item div:nth-child(1) {
        width: 100%;
    }
    .mail-item div:nth-child(2) {
        width: 100%;
        margin-right: 0px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .mail-item div:nth-child(3) {
        margin-right: 0px;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .mail-item div:nth-child(4) {
        width: 200px;
        margin-right: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

/* -----------------------------media-querys----------------------------------------- */

@media(max-width: 550px) {
    .mail-bar {
        display: none;
    }
    .mail-compose {
        position: fixed;
        bottom: 3%;
        right: 3%;
        border-radius: 147px;
        width: 44px;
    }
    .mail-compose span {
        display: none;
    }
    .mail-select-filter {
        width: 12%;
    }

    .mail-list {
        padding: 0;
    }
    .mail-list ul {
        margin: 0;
        padding: 0;
        padding-left: 3%;
    }
    .mail-item {
        text-align: center;
        height: 120px;
        padding: 0;
    }

    .mail-item * {
margin-right: 0;
    }

    .mail-header .logo {
        display: none;
    }
    .mail-header .hamburger {
        display: block;
        position: absolute;
        top: 3%;
        left: 3%;
    }
    .mail-select-filter {
        left: 45%;
        top: 12%;
    }
    .mail-form {
        width: 95%;
        height: 80%;
    }
    .mail-bar {
        position: absolute;
        background: #fefefe;
        margin: 0;
        top: 104px;
    }

    .mail-loading-img {
        left: 24%;
     }
}